@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('OpenSansRegular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('OpenSansBold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

img,
svg {
  max-width: 100%;
  border-style: none;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  background-color: white;
}

main {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: relative;
  padding-bottom: 125px;
  padding-top: 26px;
  margin-bottom: 62px;
  background-image: url(../images/banner-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

header::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 1;
}

.header-wrapper {
  position: relative;
  margin-bottom: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logo {
  width: 179px;
}

.nav-list {
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 35px;
}

.nav-list-item:hover {
  text-decoration: underline;
}

.nav-link {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  line-height: auto;
}

.header-title {
  position: relative;
  max-width: 687px;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.67;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  color: #fff;
}

.burger {
  width: 23px;
  height: 20px;
  display: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.burger-line {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: translateX(-50%);
}

.burger-line:first-child {
  top: 0;
}

.burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.burger-line:last-child {
  bottom: 0;
}

@media (max-width: 1200px) and (min-width: 641px) {
  .header {
    padding-top: 43px;
    padding-bottom: 112px;
    margin-bottom: 45px;
    background-image: url(../images/banner-bg-tablet.jpg);
    background-position: bottom center;
  }

  .container {
    padding: 0 35px 0 34px;
  }

  .header-wrapper {
    margin-bottom: 84px;
  }

  .logo {
    width: 158px;
  }

  .header-nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .header-title {
    max-width: 620px;
    font-size: 40px;
    line-height: 1.38;
  }
}

@media (max-width: 640px) {
  .header {
    padding-top: 31px;
    padding-bottom: 211px;
    margin-bottom: 42px;
    background-image: url(../images/banner-mobile.jpg);
    background-position: bottom center;
  }

  .container {
    padding: 0 16px 0 14px;
  }
  
  .header-wrapper {
    flex-direction: column-reverse;
    margin-bottom: 29px;
  }

  .logo {
    width: 269px;
  }

  .header-nav {
    display: none;
  }

  .burger {
    display: block;
    align-self: flex-end;
    margin-bottom: 174px;
  }

  .header-title {
    max-width: 500px;
    font-size: 26px;
    line-height: 1.38;
  }  
}

.trends {
  margin-bottom: 64px;
}

.section-title {
  margin-bottom: 43px;
  position: relative;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 31px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #e1d9bd;
}

.trends-list {
  display: flex;
  flex-wrap: wrap;
}

.trends-card {
  width: calc(25% - 3px);
  padding: 133px 24px 13px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
}

.trends-card:nth-child(n+3) {
  padding: 133px 19px 13px 24px;
}

.trends-card::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 1;
}

.trends-card:not(:last-child) {
  margin-right: 4px;
}

.trends-card-first {
  background-image: url(../images/trend1.jpg);
}

.trends-card-second {
  background-image: url(../images/trend2.jpg);
}

.trends-card-third {
  background-image: url(../images/trend3.jpg);
}

.trends-card-fourth {
  background-image: url(../images/trend4.jpg);
}

.card-desc {
  padding: 24px 32px 30px 31px;
  border: solid #b59f5b 3px;
  position: relative;
  z-index: 2;
}

.card-tags {
  display: flex;
  max-height: 30px;
  margin-bottom: 5px;
}

.card-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.86;
  font-weight: 700;
  color: #b59f5b;
}

.card-tag:not(:last-child) {
  margin-right: 21px;
}

.card-title-link {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}

@media (max-width: 1200px) and (min-width: 641px) and (orientation: portrait) {
  .trends {
    margin-bottom: 43px;
  }
  
  .section-title {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 1.6;
  }
  
  .section-title::after {
    top: 35px;
  }

  .trends-card {
    width: calc(50% - 2px);
    padding: 75px 19px 16px 20px;
    background-position: bottom center;
  }
  
  .trends-card:nth-child(n+3) {
    padding: 96px 19px 16px 20px;
  }
  
  .trends-card:not(:last-child) {
    margin-right: 0;
  }

  .trends-card:nth-child(odd) {
    margin-right: 4px;
  }

  .trends-card:nth-child(-n+2) {
    margin-bottom: 3px;
  }
  
  .card-desc {
    padding: 19px 32px 29px 32px;
  }
  
  .card-tags {
    margin-bottom: 5px;
  }
  
  .card-tag:not(:last-child) {
    margin-right: 17px;
  }
  
  .card-title-link {
    font-size: 17px;
  }

  .card-title {
    line-height: 1.25;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .trends {
    margin-bottom: 44px;
  }

  .section-title {
    margin-bottom: 39px;
    font-size: 16px;
    line-height: auto;
  }
  
  .section-title::after {
    top: 27px;
  }

  .trends-card {
    width: 100%;
    padding: 88px 16px 16px 16px;
    background-position: bottom center;
  }
  
  .trends-card:nth-child(2) {
    margin-right: 0;
    padding: 66px 16px 16px 16px;
  }

  .trends-card:nth-child(3) {
    margin-right: 0;
    padding: 88px 16px 16px 16px;
  }
  
  .trends-card:last-child {
    margin-right: 0;
    padding: 89px 16px 15px 16px;
  }

  .trends-card:nth-child(odd) {
    margin-right: 0;
  }

  .trends-card:nth-child(-n+2) {
    margin-bottom: 0;
  }

  .trends-card:not(:last-child) {
    margin-bottom: 4px;
  }
  
  .card-desc {
    padding: 18px 19px 26px 19px;
  }
  
  .card-tags {
    margin-bottom: 6px;
  }
  
  .card-tag:not(:last-child) {
    margin-right: 18px;
  }
  
  .card-title-link {
    font-size: 16px;
  }

  .card-title {
    line-height: 1.1;
  }
}

.content {
  display: flex;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}

.post {
  display: flex;
  align-items: flex-start;
}

.post:not(:last-child) {
  margin-bottom: 56px;
}

.post-preview {
  padding-top: 4px;
  display: flex;
  margin-right: 30px;
}

.post-img {
  max-width: 381px;
  object-fit: contain;
}

.post-desc {
  max-width: 370px;
}

.post-tags-list {
  margin-bottom: 4px;
  display: flex;
  align-items: flex-start;
}

.post-tags-list-item {
  display: block;
}

.post-tags-list-item:not(:last-child) {
  margin-right: 19px;
}

.post-tags-list-item:hover {
  text-decoration: underline;
}

.post-tags-item-link {
  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
}

.post-title {
  max-width: 335px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.post-info {
  margin-bottom: 46px;
}

.post-date {
  margin-right: 8px;
  font-weight: 400;
  font-size: 12px;
  color: #888;
}

.post-author {
  font-size: 12px;
  font-weight: 700;
}

.post-paragraph {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}

.post-paragraph-one {
  margin-bottom: 8px;
}

.aside {
  width: 271px;
  flex-shrink: 0;
}

.aside-section:not(:last-child) {
  margin-bottom: 61px;
}

.aside .section-title::after {
  top: 27px;
}

.aside-title {
  margin-bottom: 37px;
  font-size: 14px;
}

.new-posts {
  margin-bottom: 61px;
}

.new-post {
  display: flex;
}

.new-post:not(:last-child) {
  margin-bottom: 15px;
}

.new-post-preview {
  padding-top: 7px;
  display: flex;
  margin-right: 17px;
}

.new-post-img {
  max-width: 71px;
  object-fit: contain;
}

.new-post-date {
  font-size: 12px;
  color: #888;
}

.new-post-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.new-post-title:hover {
  color: #b59f5b;
}

.search-form {
  width: 100%;
  display: flex;
}

.field {
  border: none;
  padding: 15px 10px 15px 18px;
  background-color: #f4f7f6;
  font-size: 13px;
}

.search-wrapper {
  width: auto;
  flex-grow: 1;
}

.search-bar {
  width: 100%;
}

.field:focus {
  outline: none;
  border-bottom: 1px solid #ebe7d7;
}

.aside-btn {
  display: block;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
}

.aside-btn:hover {
  background-color: #323232;
}

.search-button {
  width: 48px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.email-field {
  width: 100%;
  padding: 17px 10px 15px 18px;
  margin-bottom: 20px;
}

.subscribe-button {
  width: 100%;
  padding: 16px 0 16px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.tags-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tags-list-item {
  padding: 5px 12px 5px 12px;
  margin-bottom: 5px;
  border: 3px solid #eee;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.tags-list-item:hover {
  border: 3px solid #b59f5b;
  cursor: pointer;
}

.tags-list-item:not(:last-child) {
  margin-right: 8px;
}

.tags-list-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.topic-list-item {
  display: flex;
  padding-bottom: 13px;
  border-bottom: 1px solid #eee;
}

.topic-list-item:not(:last-child) {
  margin-bottom: 14px;
}

.topic-link {
  display: block;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 700;
}

.topic-link:hover {
  color: #b59f5b;
}

.posts-amount {
  display: block;
  position: relative;
  top: -2px;
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
}

@media (max-width: 1200px) and (min-width: 641px) {
  .main {
    margin-right: 35px;
  }

  .post {
    flex-direction: column;
    padding-bottom: 18px;
    border-bottom: solid 3px #eee;
  }

  .post:not(:last-child) {
    margin-bottom: 35px;
  }

  .post-preview {
    display: block;
    width: 100%;
    padding-top: 5px;
    margin-right: 0;
    margin-bottom: 6px;
  }

  .post-img {
    max-width: none;
    width: 100%;
    object-fit: cover;
  }

  .post-title {
    max-width: 450px;
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 1.29;
  }

  .post-tags-list {
    margin-bottom: 7px;
  }

  .post-info {
    margin-bottom: 25px;
  }

  .post-paragraph-one {
    margin-bottom: 9px;
  }

  .aside .section-title::after {
    top: 30px;
  }

  .aside-section:not(:last-child) {
    margin-bottom: 56px;
  }

  .aside-title {
    margin-bottom: 33px;
  }

  .new-post-preview {
    margin-right: 17px;
  }

  .field {
    padding: 15px 18px 17px 18px;
  }

  .search-form {
    width: 100%;
  }
  
  .search-wrapper {
    flex-grow: 1;
  }

  .search-bar {
    width: 100%;
  }
  
  .search-button {
    max-width: 48px;
    flex-shrink: 0;
    background-size: 18px;
  }

  .tags-list-item {
    padding: 5px 14px 5px 12px;
    margin-bottom: 5px;
  }
  
  .tags-list-item:not(:last-child) {
    margin-right: 8px;
  }
}

@media (max-width: 640px) {
  .content {
    flex-direction: column;
  }

  .main {
    margin-bottom: 39px;
    flex-grow: 0;
  }

  .post {
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: solid 3px #eee;
  }

  .post:not(:last-child) {
    margin-bottom: 35px;
  }

  .post-preview {
    width: 100%;
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    display: block;
  }

  .post-img {
    max-width: none;
    width: 100%;
    object-fit: cover;
  }

  .post-desc {
    max-width: none;
  }

  .post-title {
    max-width: none;
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 1.25;
  }

  .post-tags-list {
    margin-bottom: 7px;
    display: flex;
    align-items: flex-start;
  }

  .post-info {
    margin-bottom: 13px;
  }
  
  .post-date {
    margin-right: 8px;
    font-weight: 400;
    font-size: 12px;
    color: #888;
  }
  
  .post-author {
    font-size: 12px;
    font-weight: 700;
  }
  
  .post-paragraph {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
  }
  
  .post-paragraph-one {
    margin-bottom: 5px;
  }
  
  .aside {
    width: 100%;
  }

  .aside-title {
    margin-bottom: 37px;
    font-size: 16px;
  }

  .aside-section:not(:last-child) {
    margin-bottom: 44px;
  }

  .field {
    padding: 15px 10px 15px 18px;
  }

  .search-form {
    width: 100%;
  }
  
  .search-wrapper {
    flex-grow: 1;
  }

  .search-bar {
    width: 100%;
  }
  
  .search-button {
    max-width: 48px;
    flex-shrink: 0;
    background-size: 18px;
  }

  .tags-list-item {
    padding: 5px 14px 5px 12px;
    margin-bottom: 5px;
  }
  
  .tags-list-item:not(:last-child) {
    margin-right: 5px;
  }
  
  .tags-list-item:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
}
