@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('OpenSansRegular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('OpenSansBold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  border-style: none;
}

svg {
  max-width: 100%;
  border-style: none;
}

label {
  cursor: pointer;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  background-color: white;
}

main {
  display: block;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
}

textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: relative;
  padding-bottom: 125px;
  padding-top: 26px;
  margin-bottom: 62px;
  background-image: url(../images/banner-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #666666;
}

header::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 1;
}

.header-wrapper {
  position: relative;
  margin-bottom: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logo {
  width: 179px;
}

.header-nav {
  max-width: 560px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  margin-right: 35px;
}

.nav-item-last {
  margin-right: 0;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-link {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.header-title {
  position: relative;
  max-width: 687px;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.67;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  color: #fff;
}

.burger {
  width: 23px;
  height: 20px;
  display: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.burger-line {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: translateX(-50%);
}

.burger-line-top {
  top: 0;
}

.burger-line-middle {
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.burger-line-bottom {
  bottom: 0;
}

.trends {
  margin-bottom: 64px;
}

.section-title {
  margin-bottom: 43px;
  position: relative;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 31px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #e1d9bd;
}

.trends-list {
  display: flex;
  flex-wrap: wrap;
}

.trends-card {
  width: calc(25% - 3px);
  padding: 133px 24px 13px 20px;
  margin-right: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #606260;
}

.trends-card::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 1;
}

.trends-card-fourth {
  margin-right: 0;
}

.trends-card-first {
  background-image: url(../images/trend1.jpg);
}

.trends-card-second {
  background-image: url(../images/trend2.jpg);
}

.trends-card-third {
  padding: 133px 19px 13px 24px;
  background-image: url(../images/trend3.jpg);
}

.trends-card-fourth {
  padding: 133px 19px 13px 24px;
  background-image: url(../images/trend4.jpg);
}

.card-desc {
  padding: 24px 32px 30px 31px;
  border: solid #b59f5b 3px;
  position: relative;
  z-index: 10;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
}

.card-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.5;
  font-weight: 700;
  color: #b59f5b;
}

.card-tag-primary {
  margin-right: 21px;
}

.card-tag:hover {
  text-decoration: underline;
}

.card-title-link {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}

.card-title-link:hover {
  color: #b59f5b;
}

.content {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}

.post {
  margin-bottom: 56px;
  display: flex;
  align-items: flex-start;
}

.post-last {
  margin-bottom: 0;
}

.post-preview {
  padding-top: 4px;
  display: flex;
  margin-right: 30px;
}

.post-img {
  max-width: 381px;
  object-fit: contain;
  background-color: #eff6f1;
}

.post-desc {
  max-width: 370px;
}

.post-tags-list {
  margin-bottom: 4px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.post-tags-item {
  display: block;
}

.post-tags-item-primary {
  margin-right: 19px;
}

.post-tags-item:hover {
  text-decoration: underline;
}

.post-tags-link {
  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
}

.post-title {
  max-width: 335px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.post-title:hover {
  color: #b59f5b;
}

.post-info {
  margin-bottom: 46px;
}

.post-date {
  margin-right: 8px;
  font-weight: 400;
  font-size: 12px;
  color: #888;
}

.post-author {
  font-size: 12px;
  font-weight: 700;
}

.post-paragraph {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}

.post-paragraph-one {
  margin-bottom: 8px;
}

.aside {
  width: 271px;
  flex-shrink: 0;
}

.aside-section {
  margin-bottom: 61px;
}

.aside-section-last {
  margin-bottom: 0;
}

.aside .section-title::after {
  top: 27px;
}

.aside-title {
  margin-bottom: 37px;
  font-size: 14px;
}

.new-posts {
  margin-bottom: 61px;
}

.new-post {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}

.new-post-last {
  margin-bottom: 0;
}

.new-post-preview {
  padding-top: 7px;
  display: flex;
  margin-right: 17px;
}

.new-post-img {
  max-width: 71px;
  object-fit: contain;
  background-color: #f4f7f6;
}

.new-post-date {
  font-size: 12px;
  color: #888;
}

.new-post-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.new-post-title:hover {
  color: #b59f5b;
}

.search-form {
  width: 100%;
  display: flex;
}

.field {
  border: none;
  padding: 15px 10px 15px 18px;
  background-color: #f4f7f6;
  font-size: 13px;
}

.search-wrapper {
  width: auto;
  flex-grow: 1;
}

.search-bar {
  width: 100%;
}

.field:focus {
  outline: 1px solid #b59f5b;
}

.aside-btn {
  display: block;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
}

.aside-btn:hover {
  background-color: #323232;
}

.search-button {
  width: 48px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.email-field {
  width: 100%;
  padding: 17px 15px 15px 18px;
  margin-bottom: 20px;
}

.subscribe-button {
  width: 100%;
  padding: 16px 10px 16px 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.tags-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tags-item {
  padding: 5px 12px 5px 12px;
  margin-right: 8px;
  margin-bottom: 5px;
  border: 3px solid #eee;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.tags-item:hover {
  border: 3px solid #b59f5b;
  cursor: pointer;
}

.tags-item-last {
  margin-right: 0;
}

.tags-item-last-row {
  margin-bottom: 0;
}

.topic-item {
  margin-bottom: 14px;
  display: flex;
  padding-bottom: 13px;
  border-bottom: 1px solid #eee;
}

.topic-item-last {
  margin-bottom: 0;
}

.topic-link {
  display: block;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 700;
}

.topic-link:hover {
  color: #b59f5b;
}

.posts-amount {
  display: block;
  position: relative;
  top: -2px;
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
}

.products {
  margin-bottom: 94px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  display: flex;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding-left: 22px;
  padding-right: 26px;
}

.product-preview {
  max-width: 300px;
  margin-bottom: 14px;
}

.product-img {
  max-width: 300px;
  object-fit: contain;
  background-color: #eff6f1;
}

.product-info {
  position: relative;
  max-width: 300px;
  flex-grow: 1;
}

.product-info::after {
  content: '';
  position: absolute;
  top: -51px;
  bottom: -30px;
  left: -21px;
  right: -25px;
  border: 3px solid #d3c59d;
  z-index: 5;
}

.product-name {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 3px;
  z-index: 100;
}

.product-desc {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.45;
  margin-bottom: 23px;
  z-index: 100;
}

.product-link {
  color: #b59f5b;
}

.product-link:hover {
  text-decoration: underline;
}

.product-purchase-info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.product-price {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.product-primary-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.product-secondary-price {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.product-btn {
  padding: 16px 27px;
  border: none;
  text-align: center;
  background-color: #b59f5b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.product-btn:hover {
  background-color: #323232;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 42px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 31px;
  padding-bottom: 32px;
  margin-bottom: 70px;
  background-color: #f4f7f6;
}

.socials-item {
  margin-right: 27px;
}

.socials-item-last {
  margin-right: 0;
}

.socials-icon {
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.dribbble-icon {
  background-image: url(../svg/001-dribbble.svg);
}

.pinterest-icon {
  background-image: url(../svg/002-pinterest.svg);
}

.tumblr-icon {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright-link {
  font-size: 12px;
  color: #999;
  font-weight: 700;
  text-align: center;
}

.popup-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
}

.popup {
  max-width: 392px;
  padding: 50px 30px 54px 32px;
  position: relative;
  top: 3.8%;
  background-color: white;
}

.popup-title {
  margin-bottom: 40px;
}

.popup-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.popup-label-last {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.popup-checkbox-wrapper {
  display: flex;
}

.popup-text {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
}

.popup-text-second {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
}

.popup-input {
  width: 100%;
  background-color: #f4f7f6;
  border: none;
}

.popup-select {
  font-size: 13px;
  font-weight: 400;
  color: #939594;
  padding: 16px 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 8px 16px;
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.popup-select:focus {
  outline: solid #b59f5b 1px;
}

.popup-textarea {
  padding: 15px 20px 80px 20px;
  resize: none;
  overflow: auto;
}

.popup-textarea:focus {
  outline: solid #b59f5b 1px;
}

.popup-textarea::placeholder {
  font-size: 13px;
  font-weight: 400;
  color: #939594;
}

.popup-checkbox-text-wrapper {
  display: block;
}

.popup-checkbox-text-wrapper-first {
  margin-right: 15px;
}

.checkbox-text {
  vertical-align: middle;
  margin-bottom: 0px;
}

.popup-checkbox {
  width: 18px;
  height: 18px;
}

.visual-check {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='313' height='313' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M156.5 313c86.433 0 156.5-70.067 156.5-156.5S242.933 0 156.5 0 0 70.067 0 156.5 70.067 313 156.5 313zm0-17.389c76.829 0 139.111-62.282 139.111-139.111S233.329 17.389 156.5 17.389 17.389 79.67 17.389 156.5 79.67 295.611 156.5 295.611z' fill='%23B59F5B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  vertical-align: middle;
}

.visual-check::before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='313' height='313' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M156.5 313c86.433 0 156.5-70.067 156.5-156.5S242.933 0 156.5 0 0 70.067 0 156.5 70.067 313 156.5 313zm0-17.389c76.829 0 139.111-62.282 139.111-139.111S233.329 17.389 156.5 17.389 17.389 79.67 17.389 156.5 79.67 295.611 156.5 295.611z' fill='%23B59F5B'/%3E%3Ccircle cx='156.5' cy='156.5' r='104.333' fill='%23B59F5B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.popup-checkbox:checked~.visual-check::before {
  opacity: 1;
}

.popup-btn {
  padding: 16px 0;
  width: 100%;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.popup-btn:hover {
  background-color: #323232;
}

.popup-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -26px;
  right: 0;
  background-color: transparent;
  border: none;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

@media (max-width: 1200px) and (min-width: 641px) {
  .header {
    padding-top: 43px;
    padding-bottom: 112px;
    margin-bottom: 45px;
    background-image: url(../images/banner-bg-tablet.jpg);
    background-position: bottom center;
  }

  .container {
    padding: 0 35px 0 34px;
  }

  .header-wrapper {
    margin-bottom: 84px;
  }

  .logo {
    width: 158px;
  }

  .header-nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .header-title {
    max-width: 620px;
    font-size: 40px;
    line-height: 1.38;
  }

  .content {
    margin-bottom: 37px;
  }

  .main {
    margin-right: 35px;
  }

  .post {
    margin-bottom: 35px;
    flex-direction: column;
    padding-bottom: 18px;
    border-bottom: solid 3px #eee;
  }

  .post-last {
    margin-bottom: 0;
  }

  .post-preview {
    display: block;
    width: 100%;
    padding-top: 5px;
    margin-right: 0;
    margin-bottom: 6px;
  }

  .post-img {
    max-width: 550px;
    width: 100%;
    object-fit: cover;
  }

  .post-title {
    max-width: 450px;
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 1.29;
  }

  .post-tags-list {
    margin-bottom: 7px;
  }

  .post-info {
    margin-bottom: 25px;
  }

  .post-paragraph-one {
    margin-bottom: 9px;
  }

  .aside .section-title::after {
    top: 30px;
  }

  .aside-section {
    margin-bottom: 56px;
  }

  .aside-section-last {
    margin-bottom: 0;
  }

  .aside-title {
    margin-bottom: 33px;
    font-size: 14px;
  }

  .new-post-preview {
    margin-right: 17px;
  }

  .field {
    padding: 15px 18px 17px 18px;
  }

  .search-form {
    width: 100%;
  }

  .search-wrapper {
    flex-grow: 1;
  }

  .search-bar {
    width: 100%;
  }

  .search-button {
    max-width: 48px;
    flex-shrink: 0;
    background-size: 18px;
  }

  .tags-item {
    margin-right: 8px;
    padding: 5px 14px 5px 12px;
    margin-bottom: 5px;
  }

  .tags-item-last-row {
    margin-bottom: 0;
  }

  .tags-item-last {
    margin-right: 0;
  }

  .products {
    margin-bottom: 81px;
  }

  .products-title {
    margin-bottom: 38px;
  }

  .product-item {
    width: calc(50% - 12px);
  }

  .product-item-second {
    margin-bottom: 55px;
  }

  .product-item-first {
    margin-bottom: 55px;
    margin-right: 24px;
  }

  .products-list {
    justify-content: stretch;
  }

  .product-card {
    width: 100%;
    padding-left: 22px;
    padding-right: 25px;
    align-items: center;
  }

  .product-preview {
    width: 100%;
    max-width: none;
    margin-bottom: 14px;
  }

  .product-img {
    width: 100%;
    max-width: none;
    object-fit: cover;
  }

  .product-info {
    max-width: none;
  }

  .product-name {
    font-size: 17px;
  }

  .socials {
    margin-bottom: 44px;
  }

  .popup {
    max-width: 390px;
    padding: 39px 30px 59px 29px;
    top: 4.3%;
  }

  .popup-checkbox {
    width: 26px;
    height: 26px;
  }

  .popup-checkbox-text-wrapper-first {
    margin-right: 35px;
  }

  .visual-check {
    width: 26px;
    height: 26px;
    background-size: 26px;
  }

  .visual-check::before {
    width: 26px;
    height: 26px;
    background-size: 26px;
  }

  .popup-close {
    width: 26px;
    height: 26px;
    top: -40px;
    background-size: 26px;
  }
}

@media (max-width: 1200px) and (min-width: 641px) and (orientation: portrait) {
  .trends {
    margin-bottom: 43px;
  }

  .section-title {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 1.6;
  }

  .section-title::after {
    top: 35px;
  }

  .trends-card {
    width: calc(50% - 2px);
    margin-right: 0;
    padding: 75px 19px 16px 20px;
    background-position: bottom center;
  }

  .trends-card-third {
    margin-right: 4px;
  }

  .trends-card-first {
    margin-bottom: 3px;
    margin-right: 4px;
  }

  .trends-card-second {
    margin-bottom: 3px;
  }

  .trends-card-third {
    padding: 96px 19px 16px 20px;
  }

  .trends-card-fourth {
    padding: 96px 19px 16px 20px;
  }

  .aside-title {
    margin-bottom: 33px;
    font-size: 14px;
  }

  .aside-section-last {
    margin-bottom: 0;
  }

  .card-desc {
    padding: 19px 32px 29px 32px;
  }

  .card-tag-primary {
    margin-right: 17px;
  }

  .card-title-link {
    font-size: 17px;
  }

  .card-title {
    line-height: 1.25;
  }

  .products-title {
    margin-bottom: 38px;
  }
}

@media (max-width: 1200px) and (min-width: 641px) and (orientation: landscape) {
  .trends {
    margin-bottom: 43px;
  }

  .section-title {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 1.6;
  }

  .section-title::after {
    top: 35px;
  }

  .trends-card {
    padding: 75px 19px 16px 20px;
  }

  .trends-card-third {
    padding: 96px 19px 16px 20px;
  }

  .trends-card-fourth {
    padding: 96px 19px 16px 20px;
  }

  .aside-title {
    margin-bottom: 33px;
    font-size: 14px;
  }

  .aside-section-last {
    margin-bottom: 0;
  }

  .card-desc {
    padding: 19px 32px 29px 32px;
  }

  .card-tag-primary {
    margin-right: 17px;
  }

  .card-title-link {
    font-size: 17px;
  }

  .card-title {
    line-height: 1.25;
  }

  .products-title {
    margin-bottom: 38px;
  }
}

@media (max-width: 640px) {
  .header {
    padding-top: 31px;
    padding-bottom: 211px;
    margin-bottom: 42px;
    background-image: url(../images/banner-mobile.jpg);
    background-position: bottom center;
  }

  .container {
    padding: 0 15px 0 15px;
  }

  .header-wrapper {
    flex-direction: column-reverse;
    margin-bottom: 29px;
  }

  .logo {
    width: 269px;
  }

  .header-nav {
    display: none;
  }

  .burger {
    display: block;
    align-self: flex-end;
    margin-bottom: 174px;
  }

  .header-title {
    max-width: 500px;
    font-size: 26px;
    line-height: 1.38;
  }

  .content {
    margin-bottom: 43px;
    flex-direction: column;
  }

  .main {
    margin-bottom: 40px;
    flex-grow: 0;
  }

  .post {
    margin-bottom: 35px;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: solid 3px #eee;
  }

  .post-last {
    margin-bottom: 0;
  }

  .post-preview {
    width: 100%;
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    display: block;
  }

  .post-img {
    max-width: none;
    width: 100%;
    object-fit: cover;
  }

  .post-desc {
    max-width: none;
  }

  .post-title {
    max-width: none;
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 1.25;
  }

  .post-tags-list {
    margin-bottom: 7px;
    display: flex;
    align-items: flex-start;
  }

  .post-info {
    margin-bottom: 13px;
  }

  .post-date {
    margin-right: 8px;
    font-weight: 400;
    font-size: 12px;
    color: #888;
  }

  .post-author {
    font-size: 12px;
    font-weight: 700;
  }

  .post-paragraph {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
  }

  .post-paragraph-one {
    margin-bottom: 5px;
  }

  .aside {
    width: 100%;
  }

  .aside-title {
    margin-bottom: 37px;
    font-size: 16px;
  }

  .aside-section {
    margin-bottom: 44px;
  }

  .aside-section-last {
    margin-bottom: 0;
  }

  .field {
    padding: 15px 10px 15px 18px;
  }

  .search-form {
    width: 100%;
  }

  .search-wrapper {
    flex-grow: 1;
  }

  .search-bar {
    width: 100%;
  }

  .search-button {
    max-width: 48px;
    flex-shrink: 0;
    background-size: 18px;
  }

  .tags-item {
    margin-right: 5px;
    padding: 5px 14px 5px 12px;
    margin-bottom: 5px;
  }

  .tags-item-last {
    margin-right: 0;
  }

  .tags-item-last-row {
    margin-bottom: 0;
  }

  .products {
    margin-bottom: 71px;
  }

  .products-title {
    margin-bottom: 44px;
  }

  .product-item {
    margin-bottom: 50px;
    margin-right: 0;
    width: 100%;
  }
  
  .product-item-third {
    margin-bottom: 0;
  }

  .products-list {
    justify-content: stretch;
  }

  .product-card {
    width: 100%;
    padding-left: 20px;
    padding-right: 25px;
    align-items: center;
  }

  .product-preview {
    width: 100%;
    max-width: none;
    margin-bottom: 17px;
  }

  .product-img {
    width: 100%;
    max-width: none;
    object-fit: cover;
  }

  .product-info {
    max-width: none;
  }

  .product-info::after {
    top: -49px;
  }

  .product-name {
    font-size: 17px;
    margin-bottom: 2px;
  }

  .socials {
    margin-bottom: 45px;
  }

  .popup {
    max-width: 331px;
    padding: 27px 27px 30px 25px;
    top: 1.3%;
  }

  .popup-title {
    margin-bottom: 45px;
  }

  .popup-checkbox {
    width: 26px;
    height: 26px;
  }

  .popup-checkbox-text-wrapper-first {
    margin-right: 35px;
  }

  .visual-check {
    width: 26px;
    height: 26px;
    background-size: 26px;
  }

  .visual-check::before {
    width: 26px;
    height: 26px;
    background-size: 26px;
  }

  .popup-close {
    width: 26px;
    height: 26px;
    top: -32px;
    background-size: 26px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .trends {
    margin-bottom: 44px;
  }

  .section-title {
    margin-bottom: 39px;
    font-size: 16px;
  }

  .section-title::after {
    top: 27px;
  }

  .trends-card {
    width: 100%;
    margin-right: 0;
    padding: 88px 16px 16px 16px;
    background-position: bottom center;
  }

  .trends-card-second {
    margin-bottom: 5px;
    padding: 66px 16px 16px 16px;
  }

  .trends-card-third {
    margin-bottom: 5px;
    padding: 88px 16px 16px 16px;
  }

  .trends-card-fourth {
    padding: 89px 16px 15px 16px;
  }

  .trends-card-first {
    margin-bottom: 5px;
  }

  .card-desc {
    padding: 18px 19px 26px 19px;
  }

  .card-tag-primary {
    margin-right: 18px;
  }

  .card-title-link {
    font-size: 16px;
  }

  .card-title {
    line-height: 1.1;
  }

  .aside-title {
    margin-bottom: 37px;
    font-size: 16px;
  }

  .products-title {
    margin-bottom: 44px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trends {
    margin-bottom: 44px;
  }

  .section-title {
    margin-bottom: 39px;
    font-size: 16px;
  }

  .section-title::after {
    top: 27px;
  }

  .trends-card {
    width: calc(50% - 2px);
    margin-right: 0;
    padding: 88px 16px 16px 16px;
    background-position: bottom center;
  }

  .trends-card-first {
    margin-right: 4px;
    margin-bottom: 3px;
  }

  .trends-card-second {
    padding: 66px 16px 16px 16px;
    margin-bottom: 3px;
  }

  .trends-card-third {
    margin-right: 4px;
    padding: 96px 19px 16px 20px;
  }

  .trends-card-fourth {
    padding: 89px 16px 15px 16px;
  }

  .card-desc {
    padding: 18px 19px 26px 19px;
  }

  .card-tag-primary {
    margin-right: 17px;
  }

  .card-title-link {
    font-size: 16px;
  }

  .card-title {
    line-height: 1.1;
  }

  .aside-title {
    margin-bottom: 37px;
    font-size: 16px;
  }

  .products-title {
    margin-bottom: 44px;
  }
}